# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TaskManager.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ALEXEY\RiderProjects\TaskManager\.idea\.idea.TaskManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
